$font-stack: Lato, Helvetica, Arial, sans-serif;
$background-color: #FFFFFF;

//rgba(190, 207, 60, 0.68)

html,
body {
    font: 15px $font-stack;
    font-weight: 300;
    background-color: $background-color;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main {
    margin: auto;
    width: 550px;
    height: 500px;
    background-color: $background-color;

    h1 {
        font: 2.5em 'Lato', sans-serif;
        font-weight: 100;
    }

    #controls {
        margin-top: 20px;
        text-align: center;
    }

    #music-queue {
        margin-top: 40px;
        margin-bottom: 40px;

        .active {
            font-weight: bold;
        }

    }

}


#queue-add {
    text-align: center;
}

#search-results {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width:800px;
    height:80%;
    overflow: scroll;   
    text-align: left; 
}