html,
body {
  font: 15px Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: white;
  height: 100%;
  padding: 0;
  margin: 0; }

#main {
  margin: auto;
  width: 550px;
  height: 500px;
  background-color: white; }
  #main h1 {
    font: 2.5em 'Lato', sans-serif;
    font-weight: 100; }
  #main #controls {
    margin-top: 20px;
    text-align: center; }
  #main #music-queue {
    margin-top: 40px;
    margin-bottom: 40px; }
    #main #music-queue .active {
      font-weight: bold; }

#queue-add {
  text-align: center; }

#search-results {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  height: 80%;
  overflow: scroll;
  text-align: left; }
